@media only screen and (max-width:2560px), only screen and (min-width:2561px) {
  .footer-logo {
    flex:1;
  }
  .footer-privacy {
    flex:1;
  }
  .footer-en {
    flex:1;
  }
  .footer-career {
    flex:1;
  }
  .footer-fb {
    flex:1;
  }
  .footer-fb > img {
    float:right;
  }
  
  .footer-copyright {
    flex-basis: 50%;
  }

  .footer-kkgroup {
    flex-basis: 50%;
  }

  .footer {
    height:200px;
  }
  
  .footer > div {
    height:100px;
  }
}

@media only screen and (max-width:1280px) {
  .navbar .links {
    width: 100%;
  }
  .footer-logo {
    flex:1;
    flex-basis: 20%;
  }
  .footer-privacy {
    flex:1;
    flex-basis: 25%;
  }
  .footer-career {
    flex:1;
    flex-basis: 25%;
  }
  .footer-en {
    flex:1;
    flex-basis: 25%;
  }
  .footer-fb {
    flex:1;
    flex-basis: 5%;
  }

  .footer-fb > img {
    float:right;
  }

  .footer-copyright {
    flex-basis: 50%;
  }

  .footer-kkgroup {
    flex-basis: 50%;
  }

  .footer {
    height:200px;
  }
  
  .footer > div {
    height:100px;
  }

}

@media only screen and (max-width: 976px) {
  .p4 {
    height: 800px;
  }
}

@media only screen and (max-width: 960px) {
  .title1 {
    font-size:36px;
  }

  .contacts > .title1 {
    font-size: 30px;
  }

  .navbar .links {
    width: 100%;
    margin-left: 0%;
  }
}

@media only screen and (max-width: 860px) {
  
  .logo-pic {
    width: 100%;
    height: 70px;
    padding-top: 8px;
    min-width: 240px;
    max-width: 280px;
  }

  .landscape-title {
    letter-spacing: 0em;
  }

  .title1 {
    font-size:34px;
  }

  .nav-icon {
    display: block;
    position: absolute;
    top: 8px;
    right: 0px;
  }

  .navbar .logo {
    width: 100%;
    text-align: left;
  }

  .navbar li:nth-child(n+2) {
    display: none;
    background-color: black;
    width: 100%;
  }

  .navbar.expand {
    background-color: rgba(0,0,0,0.7);

  }

  .navbar.expand li {
    line-height: 70px;
    font-size: 16px;
    width: 100%;
    text-align: left;
  }

  .navbar.expand li:nth-child(5) > a {
    /*padding-left: 1.6em;*/
  }

  .navbar.expand li:nth-child(n+2) {
    display: block;
    background-color: rgba(0,0,0,0);
    width: 100%;
  }
  
  .navbar li:last-child {
    display: inline-block;
  }

}

@media only screen and (max-width: 800px) {
  .p6 {
    height: 2000px;
  }

  .landscape-title {
    letter-spacing: 0em;
  }

  .title1 {
    font-size:32px;
  }

  .title2 {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .p4 > .container > .row {
    padding-top: 10vh;
  }

  .pkk {
    height: 900px;
  }

}

 @media only screen and (max-width: 768px) {
  .p4 {
    height: 1200px;
  }

  .cases {
    margin-bottom:5px;
  }

  .ucblock > img {
      opacity: 0.25;
  }

  .ucblock {
    flex: none;
    max-width: none;
  }

  .ucblock.txt {
    position: absolute;
    color: white;
    z-index: 1;
    height: 50%;
    padding: 60px;
    padding-left: 140px;
    padding-right: 140px;
    flex: none;
    max-width: none;
  }

  .contacts {
      width:100%;
      margin-top: 0px;

  }

  .p4 > .container > .row {
    padding-top: 5vh;
  }

  .p6 {
    height: calc(100% + 50px);
  }

  .landscape-title {
    letter-spacing: 0em;
  }
}

@media only screen and (max-width: 750px) {
  .title4 {
    text-align: center;
  }

  .pkk > .container > .row > p.title2 {
    padding-top:50px;
    padding-bottom:5px;
  }

  .contacts-div {
    max-width: 100%;
    margin-left: 0px;
  }
}

@media only screen and (max-width: 700px) {
  .title1 {
    font-size:32px;
  }
}

@media only screen and (max-width: 600px) {
  .p6 {
    height: 3400px;
  }

  .title1 {
    font-size:30px;
  }

  .footer {
    height:250px;
  }

  .footer > div {
    height:125px;
  }

  .footer.container > div {
    flex-wrap: wrap;
  }

  .footer-logo {
    flex-basis: 50%;
    order:1;
  
  }

  .footer-logo > img {
    float:none;
  }

  .footer-privacy {
    flex-basis: 33%;
    order:3;
  }

  .footer-en {
    flex-basis: 33%;
    order:4;
  }

  .footer-career {
    flex-basis: 33%;
    order:5;
  }

  .footer-fb {
    flex-basis: 50%;
    order:2;
  }

  .footer-fb > img {
    float: none;
  }

  .footer-copyright {
    flex-basis: 70%;
  }

  .footer-kkgroup {
    flex-basis: 30%;
  }
}

@media only screen and (max-width: 560px) {
  .landscape-title {
    font-size: 40px;
  }

  .title1 {
    font-size:28px;
  }

  .ucblock > p {
    font-size:16px;
    margin-top: -10px;
  }
  
  .ucblock > p.title {
    font-size:20px;
    margin-top: -20px;
  }
}

@media only screen and (max-width: 485px) {
  .navbar .links {
    margin-left: 0%;
  }

  .ucblock > p {
    font-size:16px;
    margin-top: -10px;
  }
  
  .uc {
    max-height:220px;
    height: 220px;
  }

  .ucblock > p.title {
    font-size:20px;
    margin-top: -30px;
  }

  .footer.container > div {
    flex-wrap: wrap;
  }

  .footer-copyright {
    flex-basis: 100%;
  }

  .footer-kkgroup {
    flex-basis: 100%;
  }

}

@media only screen and (max-width: 436px) {
  .navbar .links {
    margin-left: 0%;
  }

  .p4 {
    height: 1300px;
  }

  .ucblock.txt {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    height: auto;
  }


  .ucblock.txt.long {
    padding-top: 30px;
  }

}

@media only screen and (max-width: 404px) {
  .navbar .links {
    margin-left: 0%;
  }

  .cover-button > a {
    padding: 10px 40px;
    font-size: 18px;
  }
  
  .landscape-title {
    font-size: 36px;
  }
}

@media only screen and (max-width: 400px) {
  .logo-pic {
    width: 100%;
  }

  .navbar .links {
    margin-left: 0%;
  }

  .ucblock > p {
    font-size:14px;
    margin-top: -10px;
  }
  
  .ucblock > p.title {
    font-size:20px;
    margin-top: -30px;
  }


  .uc {
    max-height:200px;
    height: 200px;
  }
}

@media only screen and (max-width: 360px) {
  .navbar .links {
    margin-left: 0%;
  }

  .ucblock > p {
    font-size:12px;
    margin-top: -10px;
  }
  
  .ucblock > p.title {
    font-size: 16px;
    margin-top: -36px;
  }
}

@media only screen and (max-width: 320px) {
  .logo-pic {
    min-width: 200px;
    max-width: 250px;
    padding-top: 8px;
    height: auto;
  }

  .landscape-div {
    width: 70%;
  }

  
  
}
